body {
  background-position: center center;
  display: flex;
  flex-direction: column ;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}
#outside {
  z-index: 1;
  position:absolute;
  background-color: lightgray;
  /*width: 100rem;
  height: 100rem;*/
  text-align: center;
  transition: 1s;
  transform-origin: 0;
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: center center;
  display: flex;
  flex-direction: column ;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  font-family: Courier;
  font-size: 1.9rem;
  text-align: center;
}

#outside-pic {
  width: 30rem;
  height: 30rem;
  padding-bottom:0.7rem;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: white;
  /*width: 100rem;
  height: 100rem;*/
  text-align: center;
  background-image: url("./tree.jpg");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: center center;
  display: flex;
  flex-direction: column ;
  align-items: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.8rem;

}

#inside-pic {
  width: 9rem;
  height: 27rem;
  padding-top: 0rem;
 
}

#message {
  color: black;
  font-family: Courier;
  font-size: 1.7rem;
  text-align: center;
}


#outside-button {
  background: rgb(85, 159, 49);
  font-size: 1.5rem;
}

#inside-button {
  background: rgb(85, 159, 49);
  font-size: 1.5rem;
  
}

#message1 {
  color: black;
  font-family: Courier;
  font-size: 1.7rem;
  text-align: right;
}
