#outside {
  z-index: 1;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 190%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: black;
  font-family: Courier;
  font-size: 22pt;
  text-align: center;
}

#outside-pic {
  width: 430px;
  height: 430px;
}

#outside-help {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 90%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 20pt;
  text-align: center;
}

#inside-pic {
  width: 110px;
  height: 330px;
}

#message {
  color: black;
  font-family: Courier;
  font-size: 18pt;
  text-align: center;
}

button {
  background: rgb(85, 159, 49);
  font-size: 20px;
}
